@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
        *{
            margin: 0;
            padding: 0;
            border: 0;
        }
body{
    background-color: #252525;
    }
    header{
        padding: 32px;
        background-color: rgba(0, 0, 0, 1);
        border-bottom: 1px solid #333;
        text-align: center;
    }
    .links {
        text-align: center; /* Alinhamento no meio do header */
    }
    .links a{
        color: white; /* a cor do texto*/
        font-size: 20px; /* tamanho da fonte*/
        line-height: 30px; /* espaçamento da linha do texto*/
        margin: 0 16px; /* espaçamento entre os textos */
        text-decoration: none; /* retirar decoração do texto */
        .shippori-mincho-regular {
        font-family: "Shippori Mincho", serif;
        font-weight: 400;
        font-style: normal;
                                 }
                }
.links a:hover { /* seleção de modo quando o mouse passar por cima "hover" */
color: green; /* mudar para cor verde quando passar por cima */
transition: color 700ms; /* fazer uma transição de cor por 700 ms */
}
#box {
    text-align: center; /* Alinhamento no meio do body */
    padding: 32px; /* distancia entre outros elementos */
    font-family: "Shippori Mincho", serif;
}
#box img {
    border-radius: 50%; /* adiciona uma borda redonda a imagem */
    border: 5px solid #6e0342; /* adiciona uma cor a borda da imagem */
    margin-bottom: 32px; /* distancia da imagem inferior dos outros elementos */
}
#box h1 {
    font-size: 25px; /* tamanho da fonte */
    line-height: 52px; /*espaçamento da fonte */
    font-weight: bold; /* tipo de fonte */
    color: aqua;
}
#box h2 {
    font-size: 24px; /* tamanho da fonte */
    line-height: 34px; /* espaçamento da linha do texto */
    font-weight: normal; /* tipo da fonte */
    margin-top: 8px; /*distancia da margem superior dos outros elementos */
    opacity: 0.8; /* transparencia do elemento */
    color: aqua;
}
#links-footer{
    padding-top: 32px;
}
#links-footer a{
    padding-top: 32px;
    padding-bottom: 8px;
    border-bottom: 3px solid;
}
